header {
    background-color: #7A247D;

    padding: 15px 0;

    display: flex;
    justify-content: center;
}

.inner_header {
    max-width: 1440px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.comesbebes_search_form {
    width: 100%;


}

.search_bar {
    border: none;
    border-bottom: solid 2px #F5C661;
    background: none;

    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 5px;
    padding-left: 30px;


    font-size: .9rem;
    font-family: "Bellota Text", sans-serif;
    color: #F5C661;

    width: 100%;
}


.search_bar_icon{
    position: absolute;
}

.search_bar:focus {
    outline: none;
}


.left_header {
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    max-width: 700px;

}

.rigth_header {
    display: flex;
    align-items: center;
    gap: 25px;

   
}

.pedido_button a {
	background-color:#F5C661;
	border:1px solid #F5C661;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:9px 20px;
	text-decoration:none;
}
.pedido_button:hover a {
	background-color:#fcbe39;
}
.pedido_button:active a {
	position:relative;
	top:1px;
}


.header_icon {
    width: 35px;
}

.header_icon:hover {
    cursor: pointer;
}

.woocommerce-products-header{
    background-color: #E7FAFE
    ;
    display: flex;
    flex-direction: column;
    
}

.category-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-main{
    background-color: #E7FAFE
    ;
}

.category-h2{
    font-size: 2.5em;
}

.foods-h3{
    font-size: 1.5em;
}

        

