.banner {
    background-color: #7A247D;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;

    padding: 100px 0;
}

.banner h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #F5C661;

    font-size: 3rem;

    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;

    font-size: 1,625rem;
}

.footer-home{
    background-color: #7A247D;
    max-height: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
}

.footer-home > div:first-of-type {
    display: flex;
    gap: 120px;
    margin: 40px;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-content: flex-start;
}

#footer_img{
    max-height: 356px;
}

.icon {
    max-height: 18.16px;
}

.infomap {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infomap div {
    display: flex;
    gap: 10px;
}

/* corpo da loja */

.corpo-loja {
    background-color: #E5E5E5;
}

h3 {
    font-family: "Bellota Text" , sans-serif;
    font-style: normal;
    font-size: 2rem;
    line-height: 40px;
    line-height: 100%;
    color: #333333;
    align-self: left;
    width: 358px;
    height: 40px;
    display: flex;
    justify-content: center;

}

.pratos-principais {
    width: 1047px;
    width: 100%;
    height: 259px;
    margin-top: 48px;
    margin-left: 196px;
    margin-bottom: 37px;
}

h4 {
    font-family: "Bellota Text", sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 100%;
    color: #000000;
    Align: Left
    Vertical align: Top
    Fill: Solid
    #000000
}

.tipos {
    width: 240px;
    height: 210px;
    margin-top: 19px;
    margin-right: 29px;
}

.pratos-do-dia {
    width: 1047px;
    width: 100%;
    margin-left: 196px;
    margin-bottom: 57px;
}

.tipos2 {
    width: 240px;
    height: 373px;
    margin-top: 13px;
    margin-right: 29px;
}

.button_options{
    width: 235px;
    height: 41px;
    margin-top: 48px;
    margin-left: 602px;
    margin-bottom: 48px;
    color: #F5C661;
}

