
.comesbebes_nav_acc {
    background-color: #F5C661;

    display: block;
    width: 100% !important;

    font-size: 1.5rem;
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;

    padding: 15px 20px;

    display: flex;
    justify-content: center;
}

.comesbebes_nav_acc a{
    text-decoration: none;
    color: inherit;
    
}

.comesbebes_nav_acc ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1350px;
}


.comesbebes_nav_acc li{
    display: inline;
}

.comesbebes_dashboard {
    width: 100%;
    height: 100vh;
    

    display: flex;
    justify-content: center;
    

    background-color: #D7F6FD;
}

.inner_comesbebes_dashboard {
    width: 100%;
    max-width: 1000px;

    padding: 50px 0 0 0;
}


.inner_comesbebes_dashboard .p{
    font-size: 1.5rem;
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;

}

.inner_comesbebes_dashboard  .p{
    margin-bottom: 20px;
}

.margin_botton_20px {
    margin-bottom: 20px;
}


.form_text_input {
    
    background: none;
    border: none;
    border-bottom: 2px solid #6A066D;

    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    padding: 5px 5px;
}

.form_label {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.acc_details_submit{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0;
}

.acc_details_submit_button {
    background-color:#7E3481; 
	border:1px solid #7E3481;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:9px 20px;
	text-decoration:none;
    color: white;
}


.acc_details_submit_button:hover  {
	background-color:#601763;
}
.acc_details_submit_button:active  {
	position:relative;
	top:1px;
}

.table_title {
    
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;


}

.table_content {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;

}

.table_content a{
    color: #6A066D;
}



.border_none {
    border: none !important;
}

.order_button {
    background-color: transparent !important;
	border:3px solid #6A066D !important;
    color: #6A066D !important;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:10px 50px !important;
	text-decoration:none;
}

.adress-title {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;

    margin-bottom: 70px;
}